# Visual Studio
.vs/
x64/
*.vcxproj.user
*.vcxproj.filters

# VS build artifacts
TextEncryptor/

# Libraries (root)
argon/
libsodium/

# Qt build output
Qt/Encryptor/build/
Qt/Encryptor/.qtcreator/
Qt/Encryptor/CMakeLists.txt.user

# Qt libraries
Qt/Encryptor/argon/
Qt/Encryptor/sodium/
