################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextEncryptor.slnx/copilot-chat/dc578cf7/sessions
